body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.88);
}
.buttons-container div {
    /* background-color: rgba(0,0,0,0.3); */
    border: 1px solid whitesmoke;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-container div:hover {
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}
.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 60vh;
    width: 30vw;
}
.display {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 1em;
    justify-content: flex-end;
    box-sizing: border-box;
    font-weight: 700;
}
#equals {
    grid-column: 3 / span 2;
    background-color: #880336;
}
#equals:hover {
    background-color: #D41C63;
}
@media screen and (max-width: 500px) {
    .buttons-container {
        height: 70vh;
        width: 80vw;
    }
}